# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
postgres_data/

# Python uv
.python-version

# Alembic cache
backend/alembic/__pycache__/